In [19]:
import pandas as pd
import datetime as dt
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np

In [20]:
tickers=["ITC.NS"]
ohlcv_data={}

In [21]:
for ticker in tickers:
    temp=yf.download(ticker,period='1mo',interval='5m')
    temp.dropna(how='any',inplace=True)
    ohlcv_data[ticker]=temp

[*********************100%***********************]  1 of 1 completed

In [22]:
def ATR(DF,n=14):
    df=DF.copy()
    print(df)
    df["H-L"]=df["High"]-df["Low"]
    df["H-PC"]=df["High"]-df["Adj Close"].shift(1)
    df["L-PC"]=df["Low"]-df["Adj Close"].shift(1)
    df["TR"]=df[["H-L","H-PC","L-PC"]].max(axis=1,skipna=False)
    df["ATR"]=df["TR"].ewm(com=n,min_periods=n).mean()
    return df["ATR"]

In [23]:
def ADX(DF,n=20):
    df=DF.copy()
    df["ATR"]=ATR(df,n)
    df["UpM"]=df["High"]-df["High"].shift(1)
    df["DwnM"]=df["Low"].shift(1)-df["Low"]
    df["+DM"]=np.where((df["UpM"]>df["DwnM"])&(df["UpM"]>0),df["UpM"],0)
    df["-DM"]=np.where((df["DwnM"]>df["UpM"])&(df["DwnM"]>0),df["DwnM"],0)
    df["+DI"]=100*(df["+DM"]/df["ATR"]).ewm(span=n,min_periods=n).mean()
    df["-DI"]=100*(df["-DM"]/df["ATR"]).ewm(span=n,min_periods=n).mean()
    df["ADX"]=abs((df["+DI"]-df["-DI"])/(df["+DI"]+df["-DI"])).ewm(span=n,min_periods=n).mean()
    return df["ADX"]

In [24]:
ohlcv_data

{'ITC.NS':                                  Open        High         Low       Close  \
 Datetime
 2023-08-09 09:15:00+05:30  452.049988  452.049988  451.149994  451.350006
 2023-08-09 09:20:00+05:30  451.250000  451.399994  449.950012  450.350006
 2023-08-09 09:25:00+05:30  450.299988  450.899994  450.299988  450.299988
 2023-08-09 09:30:00+05:30  450.399994  450.399994  448.899994  449.899994
 2023-08-09 09:35:00+05:30  449.899994  449.950012  449.299988  449.899994
 ...                               ...         ...         ...         ...
 2023-09-08 15:05:00+05:30  443.149994  443.450012  442.549988  443.000000
 2023-09-08 15:10:00+05:30  443.000000  443.000000  442.200012  442.500000
 2023-09-08 15:15:00+05:30  442.450012  442.750000  441.850006  442.399994
 2023-09-08 15:20:00+05:30  442.399994  442.750000  442.000000  442.700012
 2023-09-08 15:25:00+05:30  442.649994  442.750000  442.100006  442.649994

                             Adj Close  Volume
 Datetime
 2023-08-09 09:15:00+05:30  451.350006       0
 2023-08-09 09:20:00+05:30  450.350006  209104
 2023-08-09 09:25:00+05:30  450.299988   83464
 2023-08-09 09:30:00+05:30  449.899994  184594
 2023-08-09 09:35:00+05:30  449.899994   81069
 ...                               ...     ...
 2023-09-08 15:05:00+05:30  443.000000  403938
 2023-09-08 15:10:00+05:30  442.500000  323316
 2023-09-08 15:15:00+05:30  442.399994  574514
 2023-09-08 15:20:00+05:30  442.700012  226197
 2023-09-08 15:25:00+05:30  442.649994  232928

 [1650 rows x 6 columns]}

In [25]:
for ticker in ohlcv_data:
    ohlcv_data[ticker]['ADX']=ADX(ohlcv_data[ticker])

                                 Open        High         Low       Close  \
Datetime
2023-08-09 09:15:00+05:30  452.049988  452.049988  451.149994  451.350006
2023-08-09 09:20:00+05:30  451.250000  451.399994  449.950012  450.350006
2023-08-09 09:25:00+05:30  450.299988  450.899994  450.299988  450.299988
2023-08-09 09:30:00+05:30  450.399994  450.399994  448.899994  449.899994
2023-08-09 09:35:00+05:30  449.899994  449.950012  449.299988  449.899994
...                               ...         ...         ...         ...
2023-09-08 15:05:00+05:30  443.149994  443.450012  442.549988  443.000000
2023-09-08 15:10:00+05:30  443.000000  443.000000  442.200012  442.500000
2023-09-08 15:15:00+05:30  442.450012  442.750000  441.850006  442.399994
2023-09-08 15:20:00+05:30  442.399994  442.750000  442.000000  442.700012
2023-09-08 15:25:00+05:30  442.649994  442.750000  442.100006  442.649994

                            Adj Close  Volume
Datetime
2023-08-09 09:15:00+05:30  451.350006       0
2023-08-09 09:20:00+05:30  450.350006  209104
2023-08-09 09:25:00+05:30  450.299988   83464
2023-08-09 09:30:00+05:30  449.899994  184594
2023-08-09 09:35:00+05:30  449.899994   81069
...                               ...     ...
2023-09-08 15:05:00+05:30  443.000000  403938
2023-09-08 15:10:00+05:30  442.500000  323316
2023-09-08 15:15:00+05:30  442.399994  574514
2023-09-08 15:20:00+05:30  442.700012  226197
2023-09-08 15:25:00+05:30  442.649994  232928

[1650 rows x 6 columns]

In [26]:
ohlcv_data

{'ITC.NS':                                  Open        High         Low       Close  \
 Datetime
 2023-08-09 09:15:00+05:30  452.049988  452.049988  451.149994  451.350006
 2023-08-09 09:20:00+05:30  451.250000  451.399994  449.950012  450.350006
 2023-08-09 09:25:00+05:30  450.299988  450.899994  450.299988  450.299988
 2023-08-09 09:30:00+05:30  450.399994  450.399994  448.899994  449.899994
 2023-08-09 09:35:00+05:30  449.899994  449.950012  449.299988  449.899994
 ...                               ...         ...         ...         ...
 2023-09-08 15:05:00+05:30  443.149994  443.450012  442.549988  443.000000
 2023-09-08 15:10:00+05:30  443.000000  443.000000  442.200012  442.500000
 2023-09-08 15:15:00+05:30  442.450012  442.750000  441.850006  442.399994
 2023-09-08 15:20:00+05:30  442.399994  442.750000  442.000000  442.700012
 2023-09-08 15:25:00+05:30  442.649994  442.750000  442.100006  442.649994

                             Adj Close  Volume       ADX
 Datetime
 2023-08-09 09:15:00+05:30  451.350006       0       NaN
 2023-08-09 09:20:00+05:30  450.350006  209104       NaN
 2023-08-09 09:25:00+05:30  450.299988   83464       NaN
 2023-08-09 09:30:00+05:30  449.899994  184594       NaN
 2023-08-09 09:35:00+05:30  449.899994   81069       NaN
 ...                               ...     ...       ...
 2023-09-08 15:05:00+05:30  443.000000  403938  0.382495
 2023-09-08 15:10:00+05:30  442.500000  323316  0.349968
 2023-09-08 15:15:00+05:30  442.399994  574514  0.334060
 2023-09-08 15:20:00+05:30  442.700012  226197  0.319667
 2023-09-08 15:25:00+05:30  442.649994  232928  0.306645

 [1650 rows x 7 columns]}